{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "inline-dotenv",
    "transform-runtime",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
