// 1.0001 pushes the computed height to 48px in chrome working around a rendering issue
a.button {
	box-sizing: border-box;
	display:inline-block;
	@include font-heading;
	font-size: 1em * (14 / 24);
	line-height: 1.0001em * (48 / 14);
	text-align: center;
	padding: 0 1.0001em * (24 / 14);
	height: 1.0001em * (48 / 14);
	@include border-radius(1.0001em * (24 / 14));
	cursor:pointer;
	&.download {
		background-color: $color-dark-green;
		color:white;
		&:hover {
			background-color: darken($color-dark-green, 10%);
		}
		&.secondary {
			background-color: white;
			color: $color-dark-green;
			border:1px solid  $color-dark-green;
			&:hover {
				color: darken($color-dark-green, 10%);
				border-color: darken($color-dark-green, 10%);
			}
		}
	}
}