/*

a.button {
  box-sizing: border-box;
  display:inline-block;
  @include font-heading;
  font-size: pixels-to-ems(16, 24);
  line-height: pixels-to-ems(48, 16);
  text-align: center;
  padding: 0 pixels-to-ems(24, 16);
  height: pixels-to-ems(48, 16);
  @include border-radius(pixels-to-ems(24, 16));
  cursor:pointer;
  &.download {
    background-color: $color-dark-green;
    color:white;
    &:hover {
      background-color: $color-dark-green-hover;
    }
    &.secondary {
      background-color: white;
      color: $color-dark-green;
      border:1px solid  $color-dark-green;
      &:hover {
        color: $color-dark-green-hover;
        border-color: $color-dark-green-hover;
      }
    }
  }
  &.small {
    font-size: pixels-to-ems(12, 24);
    line-height: pixels-to-ems(32, 12);
    text-align: center;
    padding: 0 pixels-to-ems(16, 12);
    height: pixels-to-ems(32, 12);
    @include border-radius(pixels-to-ems(16, 12));
  }
  &.learn, &.light-blue {
    background-color: $color-blue;
    color:white;
    &:hover {
      background-color: $color-blue-hover;
    }
  }
  &.light-green {
    background-color: $color-light-green;
    color:white;
    &:hover {
      background-color: $color-light-green-hover;
    }
  }
}

*/

.mc-field-group {
  overflow: hidden;

  > * {
    @include box-sizing(border-box);
    float: left;
  }
  input[type="email"] {
    background-color: white;
    color: $color-base-text;
    border:1px solid $color-blue;
    width: 66%;
    @include font-heading;
    line-height: pixels-to-ems(30, 12);
    height:pixels-to-ems(32, 12);
    margin:0;
    padding:0 pixels-to-ems(16, 12);
    @include border-left-radius(pixels-to-ems(16, 12));
    &:focus {

    }
  }
  input[type="submit"] {
    width: 34%;
    color:white;
    background-color: $color-blue;
    border:none;
    @include font-heading;
    line-height: pixels-to-ems(30, 12);
    height:pixels-to-ems(32, 12);
    @include border-right-radius(pixels-to-ems(16, 12));
    margin: 0;
    padding:0;
    cursor: pointer;
    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

// body > footer .mc-field-group input[type="email"] {
//   border: 1px solid white;
// }

// body > footer .mc-field-group input[type="email"]:focus {
//   border: 1px solid #f73f33;
// }

// body>footer .mc-field-group {
//   margin-bottom: 2em;
// }

// .mc-field-group, .field-group {
//   overflow: hidden;
//   font-size: 0.875em;
//   line-height: 1;
// }

// .mc-field-group > *, .field-group > * {
//   float: left;
// }

// .mc-field-group input, .field-group input {
//   height: 2.2857em;
//   -webkit-border-radius: 0;
//   -moz-border-radius: 0;
//   border-radius: 0;
// }

// .mc-field-group input[type="email"], .field-group input[type="text"] {
//   width: 66%;
// }

// .mc-field-group input[type="submit"], .field-group input[type="submit"] {
//   width: 34%;
// }