//
// header
//

header.top-header {
  padding: 1em * 24 / 24 0;
  min-height: 1em * 96 / 24;
  .logo-container {
    float: left;
  }
  ul.menu {
    float: right;
    overflow: hidden;
    @include font-heading;
    line-height: 1;
    li {
      float: left;
      margin-left: 1em;
      &.current_page_item, .current_page_parent {
        a, a:visited {
          color: $color-dark-green;
        }
      }
    }
  }
}

@include svg-image-with-fallback('header.top-header h1.logo','mykrobe-logotype',pixels-to-ems(164.655,16),pixels-to-ems(24,16));

@mixin header-mobile {
  .top-header {
    position: relative;
    z-index: 4;
  }

  header.top-header {
    .menu-button {
      width: 2em;
      height: 2em;
      position: fixed;
      z-index:5;
      background-color: red;
      right: 5%;
      top:1em;
      background: url(../img/burger-button.png) right top no-repeat;
    }

    .menu-header-menu-container {
      position: fixed;
      z-index:4;
      top:0;
      left:0;
      right:0;
      background: url(../img/menu-background.png);
      padding: 0.5em 5%;
      display: none;
    }

    .menu-header-menu-container li {
      position: absolute;
      visibility: hidden;
    }

    .menu-header-menu-container li a {
      display: block;
      padding:0.5em 0;
    }

    // ul.menu li.current_page_item a:after {
    //   content: '';
    //   display: block;
    //   width: 1.25em;
    //   height: 0.0625em;
    //   background-color: #fc3f2c;
    //   position: relative;
    //   top:0.125em;
    // }

    .menu-header-menu-container.expanded li {
      position: static;
      visibility: visible;
      float:none;
    }

    .menu-header-menu-container li.current_page_item {
      position: static;
      visibility: visible;
    }

    ul.menu {
      float:none;
      // list-style-type: none;
      // margin: 0;
      // padding: 0;
      // text-transform: uppercase;
    }
  }
}