// 1.0001 pushes the computed height to 48px in chrome working around a rendering issue
a.button {
	box-sizing: border-box;
	display:inline-block;
	@include font-heading;
	font-size: 1em * (14 / 24);
	line-height: 1.0001em * (48 / 14);
	text-align: center;
	padding: 0 1.0001em * (24 / 14);
	height: 1.0001em * (48 / 14);
	@include border-radius(1.0001em * (24 / 14));
	cursor:pointer;
	&.download {
		background-color: $color-dark-green;
		color:white;
		&:hover {
			background-color: darken($color-dark-green, 10%);
		}
		&.secondary {
			//@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
			background-color: white;
			color: $color-dark-green;
			// @include box-shadow(0, 0, 1px, $color-dark-green, true);
			border:1px solid  $color-dark-green;
		}
	}
}