.footer.container {
  article {
    @include font-format(18,20);
  }
  padding-top:pixels-to-ems(24,24);
  padding-bottom:pixels-to-ems(48,24);
  .footer-products-species-logo {
    width:auto;
    max-height:pixels-to-ems(84,24);
    margin:pixels-to-ems(12,24) 0 pixels-to-ems(20,24) 0;
  }
}

.copyright.container {
  @include font-format(14, 16);
  color: white;
  background-color: $color-footer-background;
  padding-top:pixels-to-ems(24,14);
  padding-bottom:pixels-to-ems(48,14);
  ul.copyright-logos {
    overflow: hidden;
    li {
      float:left;
      margin-left:pixels-to-ems(36,14);
      a {
        display: block;
      }
      &:first-child {
        margin-left:0;
      }
    }
  }
  p {
    margin:0;
  }
  a, a:visited {
    color:white;
    &:hover {
      color:darken(white, 15%);
    }
  }
}
  
@include svg-image-with-fallback('.logo-the-royal-society','logo-the-royal-society',1em * (115 / 14),1em * (24 / 14));
@include svg-image-with-fallback('.logo-the-wellcome-trust','logo-the-wellcome-trust',1em * (141 / 14),1em * (18 / 14));
@include svg-image-with-fallback('.logo-oxford-university','logo-oxford-university',1em * (82 / 14),1em * (24 / 14));

@mixin footer-mobile {
  .footer.container {
    .threecol {
      // margin-bottom: pixels-to-ems(48,24);
      // &.last {
      //   margin-bottom: 0;
      // }
    }
    h3 {
      margin-top: pixels-to-ems(48,24);
    }
  }
  .copyright.container {
    ul.copyright-logos {
      li {
        float:none;
        margin-left:0;
        margin-bottom: pixels-to-ems(24,24);
      }
    }
  }
}