.promo-container {
  background-color: $color-buff;
  overflow:hidden;

  .promo {
    position:relative;
    margin:pixels-to-ems(96,24) auto;
    width:pixels-to-ems(480,24);
    height:pixels-to-ems(480,24);
    .promo-background {
      position:absolute;
    }
    .promo-content {
      position:absolute;
      text-align:center;
      h1.logo {
        margin: pixels-to-ems(216,16) auto 0 auto;
      }
      p {
        @include font-format(21, 24);
        margin: pixels-to-ems(24,21) pixels-to-ems(48,21);
      }
    }
  }
}

@include svg-image-with-fallback('.promo-content h1.logo','mykrobe-logotype',pixels-to-ems(329.3,14),pixels-to-ems(48,14));

@include svg-image-with-fallback('.promo-background','circle-480',pixels-to-ems(480,24),pixels-to-ems(480,24));

@media only screen and (max-width: 480px) {
  .promo {
    font-size:(12 / 14) * 100%;
  }
}