.main {
  .product-overview {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 1em * (480 / 24);
    background:$color-buff;
    header {
      min-height: 1em * (120 / 24);
      h1 {
        font-size:1em * (50 / 24);
        letter-spacing: -0.05em;
        line-height: 1;
      }
    }
    article {
      padding-top:1em * (24 / 21);
      font-size: 1em * (21 / 24);
      line-height: 1em * (24 / 21);
      p {
        margin-bottom: 1em * (24 / 21); 
      }
    }
  }
  .product-single-species-overview {

  }
  .product-single-species-small-print {
    article {
      font-size: 1em * (14 / 24);
      line-height: 1em * (16 / 14);
      p {
        margin-bottom: 1em * (16 / 14); 
      }
    }
  }
}