.main {
  .product-overview {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 1em * (480 / 24);
    background:$color-buff;
    header {
      min-height: 1em * (120 / 24);
      h1 {
        font-size:1em * (50 / 24);
        letter-spacing: -0.05em;
        line-height: 1;
      }
    }
    article {
      @include font-format(21, 24);
    }
  }

  .product-single-species {
    padding-top:pixels-to-ems(24,24);
    padding-bottom:pixels-to-ems(24,24);
  }

  .product-single-species-overview {
    
  }

  .product-single-species-overview-logo {
    width:auto;
    height:pixels-to-ems(96,24);
    margin-bottom:pixels-to-ems(24,24);
  }

  .product-single-species-small-print {
    article {
      @include font-format(14, 16);
    }
  }
}

@mixin products-mobile {
  .main {
    .product-overview {
      min-height:0;
      header {
        min-height:pixels-to-ems(72,24);
      }
    }
  }
}
