.main {
  .product-overview {
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 1em * (480 / 24);
    background:$color-buff;
    header {
      min-height: 1em * (120 / 24);
      h1 {
        font-size:1em * (50 / 24);
        letter-spacing: -0.05em;
        line-height: 1;
      }
    }
    article {
      @include font-format(21, 24);
    }
    position:relative;
    overflow:hidden;
    .product-overview-screenshots {
      // position: absolute;
      img {
        opacity: 0;
        // @include box-sizing(border-box);
        // border:1px solid $color-rule;
        // @include border-radius(pixels-to-ems(8, 24));
        //@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
        // @include box-shadow(0,0,4px,$color-base-text,false);
      }
    }
  }

  .product-species-tabs {
    background:$color-buff;
    ul {
      list-style-type: none;
      overflow:hidden;
      li {
        float:left;
        margin-left:1px;
        &:first-child {
          margin-left: 0;
        }
        a {
          color:$color-base-text;
          @include font-heading;
          font-size: pixels-to-ems(16, 24);
          line-height: pixels-to-ems(40, 16);
          text-align: center;
          padding: 0 pixels-to-ems(20, 16);
          min-width: pixels-to-ems(140, 16);       
          display: block;
          background: $color-buff-dark;
          &:hover {
            background:$color-buff-dark-hover;
          }
          &.active {
            background:white;
          }
        }
      }
    }
    
  }

  .product-single-species {
    padding-top:pixels-to-ems(24,24);
    padding-bottom:pixels-to-ems(24,24);
  }

  .product-single-species-overview {
    article {
      @include font-format(21, 24);
    }
  }

  .product-single-species-overview-logo {
    width:auto;
    height:pixels-to-ems(96,24);
    margin-bottom:pixels-to-ems(24,24);
  }

  .product-single-species-small-print {
    article {
      @include font-format(14, 16);
    }
  }

  .download-license-agreement-content {
    position:relative;
    background: white;
    padding:pixels-to-ems(24,24);
    article {
      @include font-format(21, 24);
    }
    .download-buttons-wrapper {
      position:relative;
    }
    .download-buttons {
      // position:absolute;
      margin-top:pixels-to-ems(12,24);
      .button {
        margin-top:pixels-to-ems(12,24);
      }
    }

    .download-buttons-blocker {
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      background:url(../img/blocker.png);
    }
  }

  .close-modal {
    position:absolute;
    right:pixels-to-ems(16,24);
    top:pixels-to-ems(16,24);
  }
}

@include svg-image-with-fallback('.close-modal','close-modal',pixels-to-ems(16,24),pixels-to-ems(16,24));

@mixin products-mobile {
  .main {
    .product-overview {
      min-height:0;
      header {
        min-height:pixels-to-ems(72,24);
      }
    }
    .product-overview-screenshots {
      margin-top:pixels-to-ems(24,24);
    }
    .product-single-species-overview {
      margin-bottom:pixels-to-ems(48,24);
    }
  }
}
