/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! HiDPI v2.0.1 | MIT License | git.io/hidpi */
@font-face {
  font-family: 'Minion-Regular';
  src: url("webfonts/2AB146_0_0.eot");
  src: url("webfonts/2AB146_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2AB146_0_0.woff") format("woff"), url("webfonts/2AB146_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Bryant2-Bold';
  src: url("webfonts/BryantWebBold.eot");
  src: url("webfonts/BryantWebBold.eot?#iefix") format("embedded-opentype"), url("webfonts/BryantWebBold.woff") format("woff"); }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  /* test */ }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

/* __________________________________________________________________________________________ main
*/
/*
1em = 32px
base font size 24px
*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  background-color: #9a9893; }

/*
font-family: 'Minion Regular'
font-family: 'Minion Bold'
font-family: 'Minion Semibold'

font-family: 'Varela Round', sans-serif;
*/
body {
  font-family: "Minion-Regular", serif;
  font-size: 150%;
  line-height: 1.25;
  color: #676561;
  background-color: white; }

a {
  color: #86c9b9;
  text-decoration: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s; }

a:hover, a:visited:hover {
  color: #51b19a; }

a:focus {
  border: none;
  outline: none; }

h1, h2, h3 {
  margin: 0;
  font-family: 'Bryant2-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 0.66667em;
  line-height: 1.875em; }

h1 {
  color: #fc3f2c; }

h2 {
  color: #fc3f2c; }

h3 {
  color: #3b9da7;
  display: block;
  border-bottom: 1px solid #ceccc6;
  font-size: 0.66667em;
  min-height: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em; }

p {
  margin: 0 0 1.25em 0; }

/*p:first-child {
    margin:0;
    }*/
header.top-header {
  padding: 1em 0;
  min-height: 4em; }
  header.top-header .logo-container {
    float: left; }
  header.top-header ul.menu {
    float: right;
    overflow: hidden;
    font-family: 'Bryant2-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 0.66667em;
    line-height: 1.875em;
    line-height: 1; }
    header.top-header ul.menu li {
      float: left;
      margin-left: 1em; }
      header.top-header ul.menu li.current_page_item a, header.top-header ul.menu li.current_page_item a:visited, header.top-header ul.menu li .current_page_parent a, header.top-header ul.menu li .current_page_parent a:visited {
        color: #3b9da7; }

.svg header.top-header h1.logo {
  background-image: url("../img/mykrobe-logotype.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg header.top-header h1.logo {
  background-image: url("../img/mykrobe-logotype.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg header.top-header h1.logo {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mykrobe-logotype.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mykrobe-logotype.png',sizingMethod='scale')"; }

header.top-header h1.logo {
  width: 10.29545em;
  height: 1.5em; }

.main h1 {
  color: #3b9da7; }

/* __________________________________________________________________________________________ global: footer
*/
.footer.container {
  padding-top: 1em;
  padding-bottom: 1em; }
  .footer.container article {
    font-size: 0.75em;
    line-height: 1.11111em; }
    .footer.container article p {
      margin-bottom: 1.11111em; }
  .footer.container .footer-products-species-logo {
    width: auto;
    height: 3.5em;
    margin: 0.5em 0 0.83333em 0; }

.copyright.container {
  font-size: 0.58333em;
  line-height: 1.14286em;
  color: white;
  background-color: #9a9893;
  padding-top: 1.71429em;
  padding-bottom: 3.42857em; }
  .copyright.container p {
    margin-bottom: 1.14286em; }
  .copyright.container ul.copyright-logos {
    overflow: hidden; }
    .copyright.container ul.copyright-logos li {
      float: left;
      margin-left: 2.57143em; }
      .copyright.container ul.copyright-logos li a {
        display: block; }
      .copyright.container ul.copyright-logos li:first-child {
        margin-left: 0; }
  .copyright.container p {
    margin: 0; }

.svg .logo-the-royal-society {
  background-image: url("../img/logo-the-royal-society.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg .logo-the-royal-society {
  background-image: url("../img/logo-the-royal-society.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg .logo-the-royal-society {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-the-royal-society.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-the-royal-society.png',sizingMethod='scale')"; }

.logo-the-royal-society {
  width: 8.21429em;
  height: 1.71429em; }

.svg .logo-the-wellcome-trust {
  background-image: url("../img/logo-the-wellcome-trust.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg .logo-the-wellcome-trust {
  background-image: url("../img/logo-the-wellcome-trust.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg .logo-the-wellcome-trust {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-the-wellcome-trust.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-the-wellcome-trust.png',sizingMethod='scale')"; }

.logo-the-wellcome-trust {
  width: 10.07143em;
  height: 1.28571em; }

.svg .logo-oxford-university {
  background-image: url("../img/logo-oxford-university.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg .logo-oxford-university {
  background-image: url("../img/logo-oxford-university.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg .logo-oxford-university {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-oxford-university.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/logo-oxford-university.png',sizingMethod='scale')"; }

.logo-oxford-university {
  width: 5.85714em;
  height: 1.71429em; }

/* __________________________________________________________________________________________ global: navigation
*/
header nav ul li {
  float: left;
  margin-left: 0.5em; }

header nav li:first-child {
  margin-left: 0; }

/* __________________________________________________________________________________________ global: mailing list
*/
body > footer .mc-field-group input[type="email"] {
  border: 1px solid white; }

body > footer .mc-field-group input[type="email"]:focus {
  border: 1px solid #f73f33; }

body > footer .mc-field-group {
  margin-bottom: 2em; }

.mc-field-group, .field-group {
  overflow: hidden;
  font-size: 0.875em;
  line-height: 1; }

.mc-field-group > *, .field-group > * {
  float: left; }

.mc-field-group input, .field-group input {
  height: 2.2857em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.mc-field-group input[type="email"], .field-group input[type="text"] {
  width: 66%; }

.mc-field-group input[type="submit"], .field-group input[type="submit"] {
  width: 34%; }

/* __________________________________________________________________________________________ global: buttons
*/
a.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Bryant2-Bold', sans-serif;
  text-transform: uppercase;
  font-size: 0.66667em;
  line-height: 1.875em;
  font-size: 0.66667em;
  line-height: 3em;
  text-align: center;
  padding: 0 1.5em;
  height: 3em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  cursor: pointer; }
  a.button.download {
    background-color: #3b9da7;
    color: white; }
    a.button.download:hover {
      background-color: #348b94; }
    a.button.download.secondary {
      background-color: white;
      color: #3b9da7;
      border: 1px solid #3b9da7; }
      a.button.download.secondary:hover {
        color: #348b94;
        border-color: #348b94; }
  a.button.small {
    font-size: 0.5em;
    line-height: 2.66667em;
    text-align: center;
    padding: 0 1.33333em;
    height: 2.66667em;
    -webkit-border-radius: 1.33333em;
    -moz-border-radius: 1.33333em;
    -ms-border-radius: 1.33333em;
    -o-border-radius: 1.33333em;
    border-radius: 1.33333em; }
  a.button.learn, a.button.light-blue {
    background-color: #71c7e6;
    color: white; }
    a.button.learn:hover, a.button.light-blue:hover {
      background-color: #5bbee2; }
  a.button.light-green {
    background-color: #86c9b9;
    color: white; }
    a.button.light-green:hover {
      background-color: #74c1af; }

/* __________________________________________________________________________________________ home
*/
.promo-container {
  background-color: #f7f6f1;
  overflow: hidden; }
  .promo-container .promo {
    position: relative;
    margin: 4em auto;
    width: 20em;
    height: 20em; }
    .promo-container .promo .promo-background {
      position: absolute; }
    .promo-container .promo .promo-content {
      position: absolute;
      text-align: center; }
      .promo-container .promo .promo-content h1.logo {
        margin: 13.5em auto 0 auto; }
      .promo-container .promo .promo-content p {
        font-size: 0.875em;
        line-height: 1.14286em;
        margin: 1.14286em 2.28571em; }
        .promo-container .promo .promo-content p p {
          margin-bottom: 1.14286em; }

.svg .promo-content h1.logo {
  background-image: url("../img/mykrobe-logotype.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg .promo-content h1.logo {
  background-image: url("../img/mykrobe-logotype.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg .promo-content h1.logo {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mykrobe-logotype.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/mykrobe-logotype.png',sizingMethod='scale')"; }

.promo-content h1.logo {
  width: 23.52143em;
  height: 3.42857em; }

.svg .promo-background {
  background-image: url("../img/circle-480.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.no-svg .promo-background {
  background-image: url("../img/circle-480.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.lt-ie9.no-svg .promo-background {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/circle-480.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/circle-480.png',sizingMethod='scale')"; }

.promo-background {
  width: 20em;
  height: 20em; }

/* __________________________________________________________________________________________ product
*/
.main .product-overview {
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 20em;
  background: #f7f6f1; }
  .main .product-overview header {
    min-height: 5em; }
    .main .product-overview header h1 {
      font-size: 2.08333em;
      letter-spacing: -0.05em;
      line-height: 1; }
  .main .product-overview article {
    font-size: 0.875em;
    line-height: 1.14286em; }
    .main .product-overview article p {
      margin-bottom: 1.14286em; }
.main .product-single-species {
  padding-top: 1em;
  padding-bottom: 1em; }
.main .product-single-species-overview-logo {
  width: auto;
  height: 4em;
  margin-bottom: 1em; }
.main .product-single-species-small-print article {
  font-size: 0.58333em;
  line-height: 1.14286em; }
  .main .product-single-species-small-print article p {
    margin-bottom: 1.14286em; }

/* __________________________________________________________________________________________ about
*/
.main .about {
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 20em;
  background: #f7f6f1; }
  .main .about header {
    min-height: 5em; }
    .main .about header h1 {
      font-size: 2.08333em;
      letter-spacing: -0.05em;
      line-height: 1; }
  .main .about article ol {
    list-style-type: decimal; }
    .main .about article ol li {
      margin-left: 1.25em;
      padding-bottom: 1.25em; }

/* __________________________________________________________________________________________ contact
*/
.contact.container {
  margin-bottom: 2.5em; }

#map-canvas {
  width: auto;
  height: 32em; }

#map-box {
  display: none; }

.gmnoprint img, .gm-style img {
  max-width: none; }

/* __________________________________________________________________________________________ blog
*/
.blog.container, .blog-article-list.container {
  margin-bottom: 3.75em; }

.blog.container h2 a {
  /*color:#696a6c;*/
  color: #fc3f2c; }

.blog.container h2 a:hover {
  /*color:#545556;*/
  color: #de392e; }

.blog.container header, .blog-article-list header {
  margin-bottom: 1.25em; }

.blog.container header.archive-header {
  margin-bottom: 0; }

.blog-article-list article {
  margin-bottom: 3.75em;
  /*margin-top: 1.5em;*/ }

.blog-article-list article:first-child {
  margin-top: 0; }

.blog.container header ul, .blog-article-list footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.blog.container header li, .blog-article-list footer li {
  float: left; }

.blog.container header li:before, .blog-article-list footer li:before {
  margin: 0 0.5em 0 0.5em;
  float: left; }

.blog.container header li:first-child:before, .blog-article-list footer li:first-child:before {
  margin: 0;
  content: ''; }

/* __________________________________________________________________________________________ blog sidebar
*/
.blog .sidebar ul a {
  /*color:#0087a8;*/ }

.blog .sidebar ul a:hover {
  /*color:#00698a;*/ }

.blog .sidebar h3 {
  color: #fc3f2c;
  /*color:#696a6c;*/
  /*    font-family: ProximaNova-Bold, Helvetica-Bold, sans-serif;
  margin-bottom: 0.5em;*/ }

.blog .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.blog .sidebar aside {
  /*    border-bottom:1px solid #cdcecf;
  padding-bottom: 1em;*/
  margin-top: 1.25em; }

.blog .sidebar aside:first-child {
  margin-top: 0; }

.blog .sidebar aside li {
  /*    border-top:1px dotted #cdcecf;
  padding-top:0.25em;*/
  /*margin-top: 0.25em;*/ }

.blog .sidebar aside li:first-child {
  margin-top: 0; }

.blog ul.articles {
  margin: 0;
  padding: 0; }

/*.blog .sidebar .search input[type="text"] {
    width:69%;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right:2%;
}

.blog .sidebar .search input[type="submit"] {
    width:29%;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }*/
/* __________________________________________________________________________________________ forms
*/
input[type="search"]:focus, input[type="submit"]:focus,
input[type="button"]:focus, input[type="text"]:focus,
input[type="email"]:focus,
button, textarea:focus {
  outline: none; }

input[type="search"],
input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
  transition: color, background-color 0.1s;
  -webkit-transition: color, background-color 0.1s;
  -moz-transition: color, background-color 0.1s;
  -o-transition: color, background-color 0.1s; }

input[type="search"],
input[type="text"],
input[type="email"],
textarea {
  color: #696a6c;
  background-color: white;
  border: 1px solid #dad9d7;
  padding: 0 0 0 4px;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"] {
  color: white;
  background-color: #f73f33;
  border: none; }

input[type="submit"]:hover {
  background-color: #de392e; }

input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #f73f33;
  background-color: white; }

::-webkit-input-placeholder {
  color: #adaeb0; }

::-moz-placeholder {
  color: #929190; }

:-moz-placeholder {
  color: #929190; }

:-ms-input-placeholder {
  color: #929190; }

/* __________________________________________________________________________________________ blog comments
*/
#comments h2 {
  border-top: 1px solid #cdcecf;
  padding-top: 0.5em;
  margin-top: 1em;
  font-family: ProximaNova-Bold, Helvetica-Bold, sans-serif;
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #ff695a; }

p.form-allowed-tags {
  display: none; }

ol.commentlist {
  list-style-type: none;
  padding: 0; }

ol.commentlist > li {
  border-top: 1px dotted #cdcecf;
  padding-top: 0.5em; }

ol.children {
  list-style-type: none; }

.comment header {
  font-family: ProximaNova-Bold, Helvetica-Bold, sans-serif;
  font-size: 1em;
  line-height: 1; }

.comment header cite {
  font-style: normal;
  font-size: 1.125em;
  display: block;
  margin-top: 0.25em; }

#comments .comment header a time {
  color: #9c9e9f;
  font-size: 0.875em; }

#comments .reply {
  font-family: ProximaNova-Bold, Helvetica-Bold, sans-serif;
  font-size: 1.125em;
  line-height: 1; }

#comments .reply span {
  color: #9c9e9f; }

.comment-content {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.bypostauthor {
  background-color: #fbf8e9;
  border: 1px solid #dddacb;
  padding: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

img.avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-right: 0.5em; }

/* __________________________________________________________________________________________ blog response
*/
/* __________________________________________________________________________________________ blog single post
*/
/* __________________________________________________________________________________________ blog archive
*/
/* __________________________________________________________________________________________ responsive
*/
img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

@media only screen and (min-width: 684px) {
  .container {
    padding-left: 3.84615%;
    padding-right: 3.84615%; }

  .row {
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    overflow: hidden; }

  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    float: left;
    min-height: 1px;
    margin-right: 3.84615%; }

  .row .onecol {
    width: 7.69231%; }
  .row .twocol {
    width: 19.23077%; }
  .row .threecol {
    width: 30.76923%; }
  .row .fourcol {
    width: 42.30769%; }
  .row .fivecol {
    width: 53.84615%; }
  .row .sixcol {
    width: 65.38462%; }
  .row .sevencol {
    width: 76.92308%; }
  .row .eightcol {
    width: 88.46154%; }
  .row .ninecol {
    width: 100%; }
  .row .tencol {
    width: 111.53846%; }
  .row .elevencol {
    width: 123.07692%; }
  .row .twelvecol {
    width: 134.61538%; }

  .last {
    margin-right: 0; }

  body {
    font-size: 120%; } }
@media only screen and (min-width: 1008px) {
  .container {
    padding-left: 3.84615%;
    padding-right: 3.84615%; }

  .row {
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    overflow: hidden; }

  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    float: left;
    min-height: 1px;
    margin-right: 3.84615%; }

  .row .onecol {
    width: 7.69231%; }
  .row .twocol {
    width: 19.23077%; }
  .row .threecol {
    width: 30.76923%; }
  .row .fourcol {
    width: 42.30769%; }
  .row .fivecol {
    width: 53.84615%; }
  .row .sixcol {
    width: 65.38462%; }
  .row .sevencol {
    width: 76.92308%; }
  .row .eightcol {
    width: 88.46154%; }
  .row .ninecol {
    width: 100%; }
  .row .tencol {
    width: 111.53846%; }
  .row .elevencol {
    width: 123.07692%; }
  .row .twelvecol {
    width: 134.61538%; }

  .last {
    margin-right: 0; }

  body {
    font-size: 150%; } }
